.input {
  display: block;
  all: unset;
  height: 50px;
  width: 100%;
  border: 2px solid var(--color-darkgreen);
  border-radius: 8px;
  padding: 0 8px;
  background-color: var(--color-white);
  transition: border-right-color 0.3s;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  text-align: left;
}

.inputRequired {
  position: absolute;
  top: 3px;
  right: 5px;
  color: var(--color-red);
  z-index: 1;
}

.inputWrapper::after {
  content: "";
  background: url("../../images/eyes.png") center / contain no-repeat;
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 0;
  right: 0;
  top: 0;
  transition: transform 0.3s;
}

[class="webp-supports"] .inputWrapper::after {
  background-image: url("../../images/eyes.webp");
}

.inputWrapperPassword .input {
  padding-right: 40px;
}

.inputWrapperPasswordShown::after {
  background-image: url("../../images/closed-eyes.png");
}

[class="webp-supports"] .inputWrapperPasswordShown::after {
  background-image: url("../../images/closed-eyes.webp");
}

.inputWrapper:focus-within::after {
  transform: translate(-6px, -28px) rotate(-8deg);
}

.inputWrapperInvalid::after {
  background-image: url("../../images/red-alien.png");
}

[class="webp-supports"] .inputWrapperInvalid::after {
  background-image: url("../../images/red-alien.webp");
}

.inputWrapperInvalid:focus-within::after {
  transform: translate(-6px, -22px) rotate(12deg) scale(-1, 1);
}

.inputLabel {
  position: absolute;
  transform: translate(0, -50%);
  font-size: 14px;
  color: var(--color-gray);
  background-color: var(--color-white);
  padding: 1px 3px;
  transition: transform 0.3s, color 0.3s, font-size 0.3s;
  cursor: text;
  pointer-events: none;
  z-index: 1;
  left: 10px;
  top: 50%;
  border-radius: 4px;
}

.input:focus {
  border-color: var(--color-green);
  box-shadow: 0 0 0 1px var(--text-color);
}

.input:focus ~ .inputLabel,
.input:not([value=""]) ~ .inputLabel {
  transform: translate(0px, -30px);
  font-size: 12px;
  color: var(--text-color);
}

.input:disabled {
  filter: grayscale(0.8);
  background-color: var(--bg-color-gray);
}

.input:disabled ~ .inputLabel {
  background-color: var(--bg-color-gray);
}

.inputWrapper {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.inputError {
  position: absolute;
  bottom: -16px;
  left: 8px;
  font-size: 12px;
  color: var(--color-red);
}

.inputWrapperInvalid .input {
  border-color: var(--color-red);
}

.passwordButton {
  all: unset;
  position: absolute;
  right: 12px;
  height: 25px;
  width: 25px;
  top: 50%;
  transform: translateY(-50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  cursor: pointer;
  z-index: 1;
  border-radius: 6px;
}

.passwordButton:hover,
.passwordButton:focus {
  background-color: var(--color-green--hover);
  box-shadow: 0 0 0 1px var(--text-color);
}

.hidePassword {
  background-image: url("../../images/pass-eye.png");
}

.showPassword {
  background-image: url("../../images/pass-eye-closed.png");
}

[class="webp-supports"] .hidePassword {
  background-image: url("../../images/pass-eye.webp");
}

[class="webp-supports"] .showPassword {
  background-image: url("../../images/pass-eye-closed.webp");
}
