.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formWrapper {
  border-radius: 8px;
  box-shadow: 0 0 12px 2px var(--bg-color-black-opacity);
  text-align: center;
}
