@import "styles/variables.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background: url("./images/planet-top-right.png") top right / contain no-repeat,
    var(--cosmo-gradient);
}

@media screen and (max-width:980px) {
  #root {
      /*background: url("./images/planet-top-right.png") top right / cover no-repeat,*/
      /*var(--cosmo-gradient);*/

      background-size: cover;
  }
}
