.layoutContent {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 20px 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.layout ~ header .layoutContent,
.layout ~ footer .layoutContent {
  min-height: calc(100vh - 120px);
}

@media screen and (max-width: 1440px) {
  .layoutContent {
    max-width: 100%;
  }
}

@media screen and (max-width: 630px) {
  .layoutContent {
    padding-left: 10px;
    padding-right: 10px;
  }
}
