.formTitle {
  margin-top: 0;
  margin-bottom: 30px;
}

.form {
  width: 480px;
  border-radius: 8px;
  padding: 40px;
  background-color: var(--bg-color-white-opacity);
}

.form .formSubmitButton {
  margin: 0 auto;
  width: 60%;
}

.actions {
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.actionLink {
  margin-top: 8px;
  color: var(--text-color);
  text-decoration: underline;
  text-underline-offset: 1px;
}

.actionLink:hover {
  text-decoration: none;
}

.actionLink:focus {
  box-shadow: 0 0 0 1px var(--text-color);
  border-radius: 4px;
  outline: none;
}

.actionLink:visited {
  contain: var(--text-color);
}

@supports (backdrop-filter: blur(10px)) {
  .form {
    background-color: var(--bg-color-white-opacity);
    backdrop-filter: blur(10px);
  }
}

.evilSection {
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 10px 30px;
  margin-top: 10px;
  border-radius: 8px;
}

.evilList {
  text-align: left;
}

.evilMartianSection {
  background-color: var(--color-darkgreen);
}

.evilMartianSection a {
  color: var(--color-white);
}

@media all and (max-width: 500px) {
  .form {
    width: calc(100vw - 40px);
    padding-left: 20px;
    padding-right: 20px;
  }

  .formWrapper {
    width: 100%;
  }
}
